{% extends 'aplicacion/base.html' %}
{%load static %}

{% block titulo %}
    About me
{% endblock titulo %} 

{% block contenido %}
   <h1> Datos del alumno </h1>
    <form action="" method= "post">
        <tr>Mi nombre es Mariano Ruiz Montero y me anoté en el curso porque hace varios años que trabajo como Analista de Datos y quería completar mis conocimientos.
            Actualmente uso mucho SQL y PowerBI y quería complementarlo con un poco de Python. El curso me gustó, sobre todo la primera parte. Esta parte de Django no copa tanto porque no lo uso en mi trabajo.

        </tr>

    </form>
{% endblock contenido %} 
